.container {
  padding-right: 0;
  padding-left: 50px;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.navbar {
  position: relative;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar_brand {
  color: gold !important;
  padding-top: 0 !important;
}